.header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 15px 165px 15px 165px
  margin: auto
  &-wrapper
    display: flex
    align-items: center
  &-nav
    display: flex
    color: $white
    justify-content: space-between
    width: 390px
    text-transform: uppercase
    font-family: Roboto
    font-size: 16px
    line-height: 28px
    letter-spacing: 0.3px
    margin-left: 38px
  &-social
    display: flex
    &__twit
      margin-right: 33px
      fill: $gray
      transition: 0.4s
      cursor: pointer
      &:hover
        fill: $green
        transition: 0.3s
    &__inst
      fill: $gray
      transition: 0.4s
      cursor: pointer
      &:hover
        fill: $green
        transition: 0.3s
header
  height: 90px
  width: 100%
  background-color: $black
